{% extends 'base.html' %}

{% block content %}

<div class="flex justify-between items-start mb-6">
    <div>
        <p class="text-gray-500">Catat peminjaman dan pengembalian buku.</p>
        <h1 class="text-4xl font-bold text-slate-900">Peminjaman</h1>
    </div>

    <a href="{% url 'peminjaman_create' %}"
       class="px-5 py-3 bg-blue-600 text-white rounded-xl font-medium hover:bg-blue-700">
        + Pinjam Buku
    </a>
</div>

<div class="bg-white rounded-3xl shadow-sm p-6">
    <table class="w-full text-sm">
        <thead>
            <tr class="text-left text-gray-500 border-b">
                <th class="py-4">ID</th>
                <th class="py-4">Nama Peminjam</th>
                <th class="py-4">Buku</th>
                <th class="py-4">Tanggal Pinjam</th>
                <th class="py-4">Jatuh Tempo</th>
                <th class="py-4">Keperluan</th>
                <th class="py-4">Petugas</th>
                <th class="py-4">Status</th>
                <th class="py-4">Aksi</th>
            </tr>
        </thead>

        <tbody>
            {% for peminjaman in peminjaman_list %}
            <tr class="border-b">
                <td class="py-5">{{ peminjaman.id }}</td>
                <td>{{ peminjaman.nama_siswa }}</td>
                <td>{{ peminjaman.judul_buku }}</td>
                <td>{{ peminjaman.tanggal_pinjam }}</td>
                <td>{{ peminjaman.jatuh_tempo }}</td>
                <td>{{ peminjaman.keperluan }}</td>
                <td>{{ peminjaman.petugas }}</td>

                <td>
                    <span class="px-3 py-1 rounded-full bg-yellow-100 text-yellow-700 text-xs font-semibold">
                        {{ peminjaman.status }}
                    </span>
                </td>

                <td>
                     
                    <a href="{% url 'peminjaman_kembali' peminjaman.id %}"
                       class="px-4 py-2 bg-green-600 text-white rounded-full hover:bg-green-700"
                       onclick="return confirm('Apakah Anda yakin ingin mengembalikan buku ini?')">
                       
                        Kembalikan
                    </a>
                </td>


                <td>
                     
                    <a href="{% url 'peminjaman_delete' peminjaman.id %}"
                       class="px-4 py-2 bg-red-600 text-white rounded-full hover:bg-red-700"
                       onclick="return confirm('Apakah Anda yakin ingin menghapus peminjaman ini?')">
                       
                        Hapus
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}